// Generic searchform styles. The two headers also have specific styles.

.search {
	color: #fff;

	input {
		color: #696057;
		font-weight: 300;
		border: 0px none;
		padding: 0px 5px;
		height: 22px;
		transition: all 500ms ease-in-out;
	}

}